---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Welcome to Astro.">
  <main>
    <h1 class="text-center text-3xl">
      Welcome to
      <span
        class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text text-transparent"
      >
        Astro
      </span>
    </h1>
  </main>
</BaseLayout>
