---
import Breadcrumb from '@/components/Breadcrumb.astro'
import BaseLayout from './BaseLayout.astro'
import type { Project } from '@/types'

export interface Props {
  project: Project
}

const { project } = Astro.props
const description = `Discover ${project.name} by ${project.architects}.`
---

<BaseLayout title={project.name} description={description}>
  <article class="mx-auto max-w-3xl">
    <Breadcrumb />
    <slot name="project-info" />
    <div class="prose max-w-none prose-img:max-h-[700px]">
      <slot name="main-content" />
    </div>
  </article>
</BaseLayout>
